* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-style: italic;
    font-family: sans-serif;
    color: darkblue;
    margin: 40px;
    padding: 30px;
    border-color: azure;
    border: groove;
}

h2 {
    text-align: left;
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}